<div id="<%= dom_id student %>">
  <p>
    <strong>Document:</strong>
    <%= student.document %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= student.lastName %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Dateofbirth:</strong>
    <%= student.dateOfBirth %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= student.status %>
  </p>

</div>
